$input-danger-border-color: rgba(238, 69, 64, 0.21);
$input-danger-box-shadow-color: rgba(238, 69, 64, 0.42);

$button-primary-gradient: linear-gradient(123deg, $aqua 23%, $aqua-dark 75%);
$button-letter-spacing: -0.2px;

.button {
  @include font-size(4);
  letter-spacing: $button-letter-spacing;
  transition: background $transition-default !important;
  font-weight: $font-weight-semi-bold;
  height: $building-unit-x4;
  background-color: $gray-231;
  border: none;

  &:hover {
    background-color: $gray-239;
  }

  &:active {
    background-color: $gray-211;
  }

  &[disabled],
  &:disabled,
  &.is-disabled {
    cursor: default;
    background-color: $gray-231 !important;
  }

  &.is-primary {
    background: $button-primary-gradient;

    &:hover {
      // todo: find a way to fix transition
      background: linear-gradient(to bottom, rgba(249, 249, 252, 0.42), rgba(249, 249, 252, 0.42)),
      $button-primary-gradient;
    }

    &:active {
      background: linear-gradient(to bottom, rgba(88, 89, 103, 0.14), rgba(88, 89, 103, 0.14)),
      $button-primary-gradient;
    }

    &[disabled],
    &:disabled,
    &.is-disabled {
      background: $button-primary-gradient !important;
    }
  }
}

.columns {
  margin-top: 0;
  margin-bottom: 0;

  &:last-child,
  &:not(:last-child) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.column {
  padding: 0 $building-unit;
}

.label {
  @include font-size(5);

  &:not(:last-child) {
    margin-bottom: $building-unit-x0_5;
  }
}

.input {
  @include font-size(4);

  &.is-danger {
    border-color: $input-danger-border-color;
    box-shadow: $input-focus-box-shadow-size $input-danger-box-shadow-color;
  }
}

.field:not(:last-child) {
  margin-bottom: $building-unit-x1_5;
}

.help {
  margin-top: $building-unit-x0_5;
  @include font-size(5);
}
