// Import Bulma's core
@import 'node_modules/bulma/sass/utilities/all';

// Fonts
$family-serif: 'Manrope', serif;
$family-primary: $family-serif;

// Colors
$scheme-main: $gray-249;
$primary: $aqua;
$grey-light: $gray-light;
$label-color: $gray;
$border: $gray-190;
$text-strong: $gray-dark;
$link: $aqua-dark;

// utils
$radius: $border-radius-small;

// controls
$control-height: $building-unit-x4;
$control-padding-horizontal: $building-unit;
$control-padding-vertical: $building-unit;

$button-padding-vertical: $building-unit;
$button-padding-horizontal: $building-unit_x2;

$input-focus-box-shadow-size: 0 0 2px 0;
$input-focus-border-color: rgba(14, 152, 164, 0.21);
$input-hover-border-color: $gray-190;
$input-placeholder-color: $gray-161;

$switch-width: 48px;
$switch-padding: 2px;
