.button {
  @include font-size(4);
  font-weight: $font-weight-semi-bold;
  border-radius: $border-radius;
  height: 56px;

  &.is-primary {
    background: linear-gradient(107deg, $aqua 25%, $aqua-dark 73%);
  }
}

.columns {
  margin-top: 0;
  margin-bottom: 0;

  &:last-child,
  &:not(:last-child) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.column {
  padding: 0 12px;
}

.label {
  @include font-size(5);

  &:not(:last-child) {
    margin-bottom: $building-unit-x0_5;
  }
}

.input {
  @include font-size(4);
}
