$container-max-size: 1038px;

.columns {
  margin-bottom: 0;
  margin-top: 0;

  &:last-child,
  &:not(:last-child) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.column {
  padding: 0 $building-unit;
}

.container {
  max-width: $container-max-size;
  width: $container-max-size;
}
