// Colors
$white: #ffffff;
$black: #000000;

$gray-42: #2a2b35;
$gray-53: #35363c;
$gray-dark: #585967;
$gray: #6c6d7b;
$gray-light: #a1a2aa;
$gray-190: #bebec7;
$gray-193: #c1c1c8;
$gray-211: #d3d3da;
$gray-231: #e7e7ec;
$gray-233: #e9f1f1;
$gray-239: #efeff3;
$gray-249: #f9f9fc;
$red: #ee4540;

$aqua: #12b8c6;
$aqua-dark: #0e98a4;

// Building Units
$building-unit: 14px;
$building-unit-x0_5: $building-unit / 2; // 7px
$building-unit-x1_5: $building-unit * 1.5; // 21px
$building-unit-x2: $building-unit * 2; // 28px
$building-unit-x2_5: $building-unit * 2.5; // 35px
$building-unit-x3: $building-unit * 3; // 42px
$building-unit-x4: $building-unit * 4; // 56px
$building-unit-x5: $building-unit * 5; // 70px
$building-unit-x6: $building-unit * 6; // 84px
$building-unit-x7: $building-unit * 7; // 98px
$building-unit-x8: $building-unit * 8; // 112px
$building-unit-x9: $building-unit * 9; // 126px
$building-unit-x10: $building-unit * 10; // 140px

// utils
$border-radius: $building-unit;
$border-radius-small: $building-unit_x0_5;
$default-icon-size: 16px;
$large-icon-size: $building-unit-x2;
$login-container-width: 530px;
$focus-shadow-size: 0 0 2px 0;
$focus-shadow-color: rgba($aqua-dark, 0.42);
$focus-border-color: rgba($aqua-dark, 0.21);

// shadows
$shadow-1: 0 2px 4px 0 rgba($gray-42, 0.35);
$shadow-2: 1px 0 2px 0 rgba($gray-190, 0.35);

//typography

// line-heights
$lh-1: 56px;
$lh-2: 38px;
$lh-3: 38px;
$lh-4: 28px;
$lh-5: 24px;
$lh-6: 20px;

// font-sizes
$head-1: 42px;
$head-2: 27px;
$head-3: 27px;
$head-4: 19px;
$head-5: 17px;
$head-6: 15px;

// font-weights
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// letter-spacings
$letter-spacing-1: -0.4px;
$letter-spacing-2: -0.6px;
$letter-spacing-3: -0.6px;
$letter-spacing-4: -0.1px;
$letter-spacing-5: -0.4px;
$letter-spacing-6: -0.1px;

// headline
$head-font-list:
  (
    fontsize: $head-1,
    lineheight: $lh-1,
    fontweight: $font-weight-bold,
    letterspacing: $letter-spacing-1,
  ),
  (
    fontsize: $head-2,
    lineheight: $lh-2,
    fontweight: $font-weight-semi-bold,
    letterspacing: $letter-spacing-2,
  ),
  (
    fontsize: $head-3,
    lineheight: $lh-3,
    fontweight: $font-weight-semi-bold,
    letterspacing: $letter-spacing-3,
  ),
  (
    fontsize: $head-4,
    lineheight: $lh-4,
    fontweight: $font-weight-medium,
    letterspacing: $letter-spacing-4,
  ),
  (
    fontsize: $head-5,
    lineheight: $lh-5,
    fontweight: $font-weight-medium,
    letterspacing: $letter-spacing-5,
  ),
  (
    fontsize: $head-6,
    lineheight: $lh-6,
    fontweight: $font-weight-medium,
    letterspacing: $letter-spacing-6,
  );

// transitions
$transition-default: 0.2s;

//links
$link-icon-size: 16px;
$link-icon-margin-right: 7px;
