$button-primary-gradient: linear-gradient(123deg, $aqua 23%, $aqua-dark 75%);
$button-letter-spacing: -0.2px;

.button {
  @include font-size(4);
  letter-spacing: $button-letter-spacing;
  transition: background $transition-default !important;
  font-weight: $font-weight-semi-bold;
  height: $building-unit-x4;
  background-color: $gray-231;
  border: none;

  &:hover {
    background-color: $gray-239;
  }

  &:active {
    background-color: $gray-211;
  }

  &[disabled],
  &:disabled,
  &.is-disabled {
    cursor: default;
    background-color: $gray-231 !important;
  }

  &.is-primary {
    background: $button-primary-gradient;

    &:hover {
      // todo: find a way to fix transition
      background: linear-gradient(to bottom, rgba($gray-249, 0.42), rgba($gray-249, 0.42)),
      $button-primary-gradient;
    }

    &:active {
      background: linear-gradient(to bottom, rgba($gray-dark, 0.14), rgba($gray-dark, 0.14)),
      $button-primary-gradient;
    }

    &[disabled],
    &:disabled,
    &.is-disabled {
      background: $button-primary-gradient !important;
    }
  }
}
