$input-danger-border-color: rgba(238, 69, 64, 0.21);
$input-danger-box-shadow-color: rgba(238, 69, 64, 0.42);

.label {
  @include font-size(5);

  &:not(:last-child) {
    margin-bottom: $building-unit-x0_5;
  }
}

.input {
  @include font-size(4);

  &.is-danger {
    border-color: $input-danger-border-color;
    box-shadow: $input-focus-box-shadow-size $input-danger-box-shadow-color;
  }
}

.field:not(:last-child) {
  margin-bottom: $building-unit-x1_5;
}

.help {
  margin-top: $building-unit-x0_5;
  @include font-size(5);
}
