.pagination {
  .pagination-link {
    @include font-size(4);

    letter-spacing: $button-letter-spacing;
    transition: $transition-default;

    &[disabled] {
      cursor: default;
    }

    &:active {
      background-color: $button-background-color;
      border-color: $button-border-color;
      box-shadow: none;
    }
  }
}
