$switch-label-padding-left: 16px;

.switch {
  &:not(.has-left-label) {
    .control-label {
      padding-left: $switch-label-padding-left;
    }
  }

  input[type=checkbox] {
    &:focus,
    &:active {
      + .check {
        box-shadow: none;

        &.is-elastic::before {
          transform: none;
        }
      }

      &:checked + .check {
        box-shadow: none;
      }
    }
  }
}
