$auth-button-width: 292px;

body {
  @include font-size(4);

  color: $gray;
}

.page {
  background-color: $gray-249;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  position: relative;

  &:hover {
    border-bottom: 1px dashed $link-hover;
  }

  &.is-icon {
    margin-left: $link-icon-size + $link-icon-margin-right;
  }

  &.is-breadcrumb {
    color: $gray-light;

    &:hover {
      border-bottom: 1px dashed $gray-light;
    }
  }

  svg {
    @include absolute-y-center;

    margin-right: $link-icon-margin-right;
    right: 100%;
  }
}

.title {
  color: $gray-dark;
  margin-bottom: 14px;
}

.auth-page {
  padding: $building-unit-x10 $building-unit-x5;

  &-container {
    max-width: $login-container-width;
  }

  &-header {
    margin-bottom: $building-unit-x3;
  }

  &-form {
    margin-bottom: $building-unit-x2;
  }

  &-form-addition {
    margin-bottom: $building-unit-x1_5;
  }

  .is-auth-button {
    width: $auth-button-width;
  }
}
