
//mixins
@mixin font-size($sizeIndex, $list: $head-font-list) {
  $font: nth($list, $sizeIndex);
  font-size: map-get($font, fontSize) !important;
  line-height: map-get($font, lineHeight);
  font-weight: map-get($font, fontWeight);
  letter-spacing: map-get($font, letterSpacing);
}




